@import "../../app.component.scss";

.container {
  @include flexCenter;
  height: 100vh;
  min-height: 900px;
  min-width: 550px;
}

.details-section {
  background: url(../../../assets/images/Details.jpg) no-repeat center center
    scroll;
  background-size: contain;
  width: 32rem;
  height: 45rem;
  display: flex;
  justify-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.listing-heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0 0 0;
  margin: 1.5rem 0 0 0.5rem;
}

.details-heading {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 0 2rem;
  margin: 0.5rem;
}
li {
  list-style-type: none;
  font-size: 0.75rem;
  padding: 0 0 0 2rem;
  margin: 0.5rem;
}
li,
.details-heading,
.listing-heading {
  font-family: Lotr;
  background-color: black;
  color: $secondary-color;
}
