<!-- <div class="container"> -->
  <div class="details-section">
    <h2 class="listing-heading">{{ (character | async)?.name }}</h2>
    <ul>
      <li class="details-heading">Appearance:</li>
      <li>Height: {{ (character | async)?.height }}</li>
      <li>Hair color: {{ (character | async)?.hair_color }}</li>
      <li>Eye color: {{ (character | async)?.eye_color }}</li>
      <li>Gender: {{ (character | async)?.gender }}</li>
      <li>Strength: {{ (character | async)?.strength }}</li>
    </ul>
    <h2 class="details-heading">Personal info</h2>
    <ul>
      <li>Birth date: {{ (character | async)?.date_of_birth }}</li>
      <li>Death date: {{ (character | async)?.date_of_death }}</li>
    </ul>

    <h2 class="details-heading">Weapons</h2>
    <ul>
      <li>{{ (character | async)?.weapons }}</li>
    </ul>
  </div>
<!-- </div> -->
