$primary-color: rgb(19, 19, 19);
$secondary-color: rgb(240, 225, 19);

@font-face {
  font-family: Lotr;
  src: url(../../src/assets/fonts/Middleearth-ao6m.ttf);
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: $primary-color;
  min-height: 100vh;
  padding: 0 15% 0 15%;
}
