@import "../../../app.component.scss";
.character {
  @include flexCenter;
  background: url(../../../../assets/images/characterList.jpg) no-repeat center
    center scroll;
  background-size: contain;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.character:hover {
  box-shadow: $secondary-color 0 3px 8px;
}
