.results {
  padding: 100px 0 0 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-family: Lotr;
  background: url(../../../assets/images/backgroundList.jpg) no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  color: var(--textColor);
  overflow: scroll;
}
.results::-webkit-scrollbar {
  display: none;
}
